{% extends "base.html" %}
{% load static %}

{% block titulo %} Detalles de la localizacion {% endblock %} 

{% block content %}
<h2>Listado de estaciones de {{localizacion.nombre}}</h2>
        {% for e in estaciones %}
            <a href="{% url 'detalles_est' e.id %}">
                <div class= "bloque">
                    <p>{{ e.nombre}} </p>
                    <img src="{% static ''%}{{e.localizacion.nombre}}.png" alt="bandera">
                </div>
            </a>
        {% endfor %}
{% endblock %}
