{% extends "base.html" %}
{% load static %}

{% block titulo %} Detalles de la estacion {% endblock %} 

{% block content %}
<h2>Listado de Pistas de {{det_estacion.nombre}}, situada en {{det_estacion.localizacion.nombre}}</h2>
<p>Esta pista tiene {{det_estacion.puntos_alquiler}} puntos de alquiler, donde podrás alquilar/comprar todo tipo de material para practicar deportes de nieve</p>

<div class = "bloquecolor">   
    <ul>
        {% for p in det_estacion.pista.all %} <!-- e.Estacion_set-->
            <li><a href="{% url 'detalles_pista' p %}">{{ p }} </a></li>
        {% endfor %}
    </ul>
</div> 
{% endblock %}