{% extends "base.html" %}

{% load static %}

{% block titulo %} Opiniones {% endblock %} 

{% block content %}
<h2>Danos tu opinión sobre tu experiencia</h2>
<form method = "POST">
    {% csrf_token %}
    
    {{form.as_p}}
   <input type="submit" value="Submit" />
</form>

<h2>Listado de opiniones</h2>
{% for op in opiniones %}
<div id = "bloqueOp">
    <div id = "headOp">
        <p id = "nomOp">{{ op.nombre_usu}} </p>
        <p id = "valOp">Valoración: {{ op.valoracion}}/5 </p>
        <p id = "estOp">Estación: <a href="{% url 'detalles_est' op.estacion.id %}">{{ op.estacion.nombre}} </a></p>
    </div>
    <p id = "op">{{ op.opinion}} </p>
</div>
{% endfor %}
{% endblock %}